*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(206, 195, 180); 
  color: rgb(37, 34, 34);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

i {
  margin-right: 10px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.781);
  color: antiquewhite;
}

.applogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-nav-button {
  display: none;
  width: 40px;
  padding: 0;
  background-color: darkgray;
  font-size: 40px;
}

.button-open-nav i {
  margin-right: 0;
}

.applogo img{
  padding: 10px;
}

.applogo h1{
  color: antiquewhite;
  font-size: 30px;
}



/* main */

.main {
  display: flex;
  min-height: calc(100vh - 104px - 48px);
}


.nav {
  width: 300px;
  min-width: 250px;
  padding: 20px;
  background-color: white;
}

.nav.active {
  display: block;
}


.default-project-button {
  background-color:white;
  text-align: left;
}

.projects-title {
  padding: 10px;
  margin-top: 30px;
}

.button-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  text-align: left;
  margin-bottom: 10px;
}


.add-project-button {
  margin-top: 10px;
  margin-left: 2px;
  background-color: white;
  text-align: left;
}

.add-project-button.active{
  display: none;
}


.button-project.active,
.default-project-button.active {
  background-color:rgba(0, 0, 0, 0.795);
  font-weight: bold;
  color: whitesmoke;
}

.button-project:hover,
.default-project-button:hover,
.add-project-button:hover {
  background-color: rgba(0, 0, 0, 0.795);
  color: whitesmoke;
}

.right-project-panel {
  visibility: hidden;
}

.button-project:hover .right-project-panel {
  visibility: visible;
}

.fa-times {
  margin-right: 0;
}

.add-project-bar {
  display: none;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.add-project-bar.active {
  display: block;
}

.input-add-project-bar {
  border: 1px solid #aaa;
  margin-bottom: 10px;
}

.add-project-bar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.button-add-project-bar {
  border: 1px solid #99dd99;
  background-color: #aaffaa;
  font-weight: bold;
}

.button-cancel-project-bar {
  border: 1px solid #eeadad;
  background-color: #ffbebe;
  font-weight: bold;
}


.button-add-project-bar:hover {
  background-color: #a6f0a6;
}

.button-cancel-project-bar:hover {
  background-color: #f5b2b2;
}

.project-board {
  width: 900px;
  padding: 20px;
  margin: 0 auto;
}

.project-board h1 {
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-add-task {
  width: 50%;
  background-color: inherit;
  text-align: left;
}

.add-task-popup {
  display: none;
}

.add-task-popup.active {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

label{
  margin-bottom: 5px;
  margin-top: 5px;
}



.priority{
  width: 100%;
  height: auto;
  font-size: 15px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}


.add-task-popup-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}


.button-add-task-popup {
  background-color: #66e766;
  font-weight: bold;
}

.button-cancel-task-popup {
  background-color: #e45050;
  font-weight: bold;
}